@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bx-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.scroll-x {
  overflow-x: scroll;
}

.scroll-x::-webkit-scrollbar {
  display: none;
}

.content-form label {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .2px;
  line-height: 1.52em;
}

.content-form input,
.content-form textarea {
  font-size: 14px;
  letter-spacing: .2px;
  outline: none;
  padding: 10px;
  background: none;
  margin-top: .6rem;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.content-form input:focus,
.content-form textarea:focus {
  border: 2px solid #00a6fb;
}

.content-form textarea {
  min-height: 180px;
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    /* @apply border-border; */
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bx-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.09);
}

.over-x-scroll {
  overflow-x: scroll;
}

.over-x-scroll::-webkit-scrollbar {
  display: none;
}

.elipsis {
  display: -webkit-box;          /* Membuat elemen behave seperti box fleksibel vertikal */
  align-items: center;
  width: 100%;
  -webkit-box-orient: vertical;  /* Menentukan orientasi box vertikal */
  line-clamp: 1;
  -webkit-line-clamp: 1;         /* Batasi teks maksimal 2 baris */
  overflow: hidden;              /* Sembunyikan teks yang melebihi */
}

.inp-data button {
  display: none;
}

.inp-data:focus-within button {
  display: block;
}

.loading {
  background-color: #fafaff;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: #00a6fb;
  position: relative;
  animation: l24 1s infinite linear;
  -webkit-animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.loader:after {
  animation-duration: 4s;
}
@keyframes l24 {
  100% {transform: rotate(1turn)}
}

.alert-box {
  background: rgba(0, 0, 0, 0.09);
}